<div class="row">
    <div class="span3  well">
        <div class="btn-group btn-group-vertical span2">
            <p><%= link_to "Radios", radios_path, :class => "btn btn-large btn-block"%></p>
            <p><%= link_to "Sensors", sensors_path, :class => "btn btn-large btn-block"%></p>
            <p><%= link_to "Transforms", transforms_path, :class => "btn btn-large btn-block"%></p>
            <p><%= link_to 'back', root_url, :class => "btn btn-large btn-block" %></p>
        </div>
    </div>
    <div class="span3 well">
        <h2>Users List</h2>
        <%- @users.each do |user|%>
            <p><%=user.email%></p>
        <%-end%>
        <%=button_to "save configuration", :root, :class =>"btn btn-large btn-block" %>
    </div>