<div class="row">
    <div class="span3  well">
        <div class="btn-group btn-group-vertical span2">
            <%= link_to "Radios", radios_path, :class => "btn btn-large btn-block"%>
            <%= link_to "Sensors", sensors_path, :class => "btn btn-large btn-block"%>
            <%= link_to "Transforms", transforms_path, :class => "btn btn-large btn-block"%>
            <%= link_to "Motes", motes_path, :class => "btn btn-large btn-block"%>
            <%= link_to 'back', root_url, :class => "btn btn-large btn-block" %>
        </div>
    </div>
    <div class="span3 well">
        <h2>Users List</h2>
        <%- @users.each do |user|%>
            <p><%=user.email%></p>
        <%-end%>
    </div>
</div>
