<div class="row">
    <div class="span9 well">
        <h2>Mote created with the following configuration</h2>
        <div class="span7">
            <table class="table table-bordered">
                <tr>
                    <th>Radio</th>
                    <th>A0</th>
                    <th>A1</th>
                    <th>A2</th>
                    <th>A3</th>
                    <th>A4</th>
                </tr>
                <tr>
                    <td><%=@radio%></td>
                    <td><%=@sa0%></td>
                    <td><%=@sa1%></td>
                    <td><%=@sa2%></td>
                    <td><%=@sa3%></td>
                    <td><%=@sa4%></td>
                </tr>
                <tr>
                    <td></td>
                    <td><%=@ta0%></td>
                    <td><%=@ta1%></td>
                    <td><%=@ta2%></td>
                    <td><%=@ta3%></td>
                    <td><%=@ta4%></td>
                </tr>
            </table>
        </div>
         <div class="btn-group btn-group-vertical span2">
        <%= link_to 'back', root_url, :class => "btn btn-large btn-block" %>
        </div>
    </div>
</div> 

