<%- unless flash[:alert].blank? %>
    <%- alert=flash[:alert] %>
<% else %>
    <% numberOfPorts = 8 %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

    <head>
        <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

        <script>
        $(function() {
            // Create a pallete and a field
            var $pallete = $( "#pallete" ),
                $field = $( ".dropbox" );
     
            // let the pallete items be draggable
            $( "li", $pallete ).draggable({
                revert: "invalid",
                containment: "document",
                helper: "clone",
                cursor: "move",
                stack: $field
            });
     
             $( $field ).droppable({
                accept: "#pallete > li",
                hoverclass: 'hover',
                drop: function(event, props){
                    $('li', this).remove();
                    var $clone = props.draggable.clone();
                    $clone.appendTo($(this));
                    $clone.position( { of: $(this), my: 'center center', at: 'center center' } );
                    $.ajax({
                        url: 'post_sensor',
                        type: 'POST',
                        data: { authenticity_token: AUTH_TOKEN, mote: '<%= @mote.id.to_s %>', 
                            sensor: $clone.attr('id'),
                            portNum: $(this).attr('id') 
                        }
                    }); 
                }
          });
        });
         </script>
    </head>
    <body>
        <h2>Set Sensor for <%= @mote.name %></h2>
     

        <div class="span9 well">
            <% 1.upto(numberOfPorts) do |i| %>
               <div id = "<%=i%>" class ="dropbox droppable_item">
                    Port <%=i%>
               </div>
            <% end %>
        </div>

    <div class="span10 well">
     
    <ul id="pallete" class="pallete">
        <%- @sensors.each do |sensor|%>
            <li id="<%= sensor.name.to_s %>" class="draggable">
                <%= sensor.name %>
                <%= image_tag('sensor.png') %>
            </li>
        <%-end%>  
    </ul>
    </div>

    <div class="span3 well">
                <div class="btn-group btn-group-vertical span2">
                    <%= link_to "Transforms", {:action => "setTransform", :id => @mote.id.to_s },
                            :class => "btn btn-large btn-block"%>
                    <%= link_to "Radios", {:action => "setRadio", :id => @mote.id.to_s },
                            :class => "btn btn-large btn-block"%>
                    <%= link_to "Done", "/motes/" + @mote.id.to_s,
                            :class => "btn btn-large btn-block"%>
                </div>
    </div> 
<% end %>