<%- unless flash[:alert].blank? %>
    <%- alert=flash[:alert] %>
<% else %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

    <head>
        <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>

        <script>
        $(function() {
            // Create a pallete and a field
            var $pallete = $( "#pallete" ),
                $field = $( "#field" );
     
            // let the pallete items be draggable
            $( "li", $pallete ).draggable({
                revert: "invalid",
                containment: "document",
                helper: "clone",
                cursor: "move",
                stack: $field
            });
     
             $( "div", $field ).droppable({
                accept: "#pallete > li",
                hoverclass: 'hover',
                drop: function(event, props){
                    var $clone = props.draggable.clone();
                    $clone.appendTo($(this));
                    $.ajax({
                        url: 'post_transform',
                        type: 'POST',
                        data: { authenticity_token: AUTH_TOKEN, transform: $clone.attr('id'),
                            port: $(this).attr('id') 
                        }
                    }); 
                }
          });
        });
        </script>
    </head>
    <body>
     <h2>Set Transform for <%= @mote.name %></h2>

    <div id="field" class="span9 well">
        <% @mote.ports.each do |port| %>
           <div id = "<%=port.id%>" class ="droppable_item">
            <p>Port <%=port.portNumber%></p>
            <p><%= port.sensor.name %></p>
           </div>
        <% end %>
    </div>

    <div class="span10 well">
     
    <ul id="pallete" class="pallete">
        <%- @transforms.each do |transform|%>
            <li id="<%= transform.name.to_s %>" >
                <%= transform.name %>
                <%= image_tag('transform.png') %>
            </li>
        <%-end%>
        
    </ul>
    </div>

    <div class="span3 well">
                <div class="btn-group btn-group-vertical span2">
                    <%= link_to "Done", "/motes/" + @mote.id.to_s,
                            :class => "btn btn-large btn-block"%>
                    <%= link_to "Radios", {:action => "setRadio", :id => @mote.id.to_s },
                            :class => "btn btn-large btn-block"%>
                    <%= link_to "Sensors", {:action => "setSensor", :id => @mote.id.to_s }, 
                            :class => "btn btn-large btn-block"%>
                </div>

    </div> 
<% end %>