<h1>Listing radios</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @radios.each do |radio| %>
  <tr>
    <td><%= radio.name %></td>
    <td><%= radio.description %></td>
    <td><%= radio.content %></td>
    <td><%= link_to 'Show', radio %></td>
    <td><%= link_to 'Edit', edit_radio_path(radio) %></td>
    <td><%= link_to 'Destroy', radio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Radio', new_radio_path %>
