<div class="row">
    <div class="span7 well">
        <h2>Listing Motes</h2>
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <% @motes.each do |mote| %>
            <tr>
                <td><%= link_to mote.name, mote %></td>
                <td><%=link_to 'download', 'motes/download/' + mote.id.to_s%></td>
                <td><%= link_to 'Edit', {:controller => "home", :action => "setRadio", :id => mote.id.to_s } %> </td>
                <td><%= link_to 'Destroy', mote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
        </table>

        <br />
        <div class="btn-group span2">
            <%= link_to 'New Mote', new_mote_path, :class => "btn btn-large btn-block" %>
            <%= link_to 'back', admin_path, :class => "btn btn-large btn-block" %>
        </div>
    </div>
</div>