<h1>Listing motes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Radio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @motes.each do |mote| %>
  <tr>
    <td><%= mote.name %></td>
    <td><%= mote.radio %></td>
    <td><%= link_to 'Show', mote %></td>
    <td><%= link_to 'Edit', edit_mote_path(mote) %></td>
    <td><%= link_to 'Destroy', mote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mote', new_mote_path %>
