<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mote.name %>
</p>

<p>
  <b>Radio:</b>
  <% if @mote.radio %>
  	<%= @mote.radio.name %>
  <% end %>
</p>

<p>
    <% ports =  @mote.ports %>
    <table class="table table-bordered">
    	<tr><th>Port</th>
	    	<% ports.each do |port| %>
	    	  <%= content_tag :td do%>
	    	    <%= port.portNumber %>
	          <% end %>
	    	<% end%>
    	</tr>
    	<tr><th>Sensor</th>
	        <% ports.each do |p| %>
	    	  <%= content_tag :td do%>
	    	    <%= p.sensor.name %>
	          <% end %>
	    	<% end%>
    	</tr>
    	<tr><th>Transforms</th>
	        <% ports.each do |por| %>
              <% transforms = por.transforms %>
              <%= content_tag :td do%>
                 <% transforms.each do |transform| %>
		    	    <%= content_tag :p do %>
		    	       <%= transform.name %>
		    	    <% end %>
		          <% end %>
		      <% end %>
	    	<% end%>        
    	</tr>
    </table>
</p>
<div class="span2">
    <% if !@mote.radio %>
        <%= link_to 'Add a Radio', {:controller => "home", :action => "setRadio", :id => @mote.id.to_s },:class => "btn btn-large btn-block" %>
    <% else %>
        <%= link_to 'Change Radio', {:controller => "home", :action => "setRadio", :id => @mote.id.to_s }, :class => "btn btn-large btn-block" %>
    <% end %>
    <%= link_to 'Change Sensor', {:controller => "home", :action => "setSensor", :id => @mote.id.to_s }, :class => "btn btn-large btn-block" %>
    <%= link_to 'Change Transform', {:controller => "home", :action => "setTransform", :id => @mote.id.to_s }, :class => "btn btn-large btn-block" %>
      
    <%=link_to 'download', 'download/' + @mote.id.to_s,:class => "btn btn-large btn-block" %>
    <%= link_to 'Edit', edit_mote_path(@mote) ,:class => "btn btn-large btn-block" %>
    <%= link_to 'Back', motes_path ,:class => "btn btn-large btn-block" %>

</div>
