<%= javascript_include_tag 'script.aculo.us' %>
<div class-"tabbable">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <%- if !user_signed_in?%>
                <a class="brand" href="#">Mote view</a>
              <%- elsif user_signed_in?%>
                <a class="brand" href="#"><%=current_user.email%></a>
            <%- end %>
            <div class="navbar">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to "New configuration", home_path  %></li>
                    <li class="divider-vertical"></li>
                    <li class="<%= 'active' if params[:controller] == 'admin' %>"><%= link_to "Admin", admin_path%></li>
                    <li class="divider-vertical"></li>              
                </ul>
                <% if user_signed_in? %>
                    <form class="navbar pull-right">
                            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class =>"btn btn-medium btn-block" %>
                    </form>
                <%- end %>
            </div>
        </div>
      </div>
    </div>
</div>